- if @collections.count > 0
  .row.my-4
    .col-sm-6.offset-sm-1
      .table-responsive
        %table.table.table-striped
          %thead.thead-inverse
            %tr
              %th
                Name
              %th
                Source
          %tbody
            - @collections.each do |collection|
              %tr
                %td
                  = collection.name
                %td
                  = collection.source.name

