
.row.my-4
  .col-sm-6.offset-sm-1
    = link_to 'Add Sbanken', sbanken_new_path, {class: 'btn btn-secondary btn-sm'}
    %br
    %br
    - if @sources.count > 0
      .table-responsive
        %table.table.table-striped
          %thead.thead-inverse
            %tr
              %th
                Name
              %th
                Type
          %tbody
            - @sources.each do |service|
              %tr
                %td
                  = link_to service.name, source_path(service)
                %td
                  = service.type
