- if current_user.budgets.count > 0
  .row.my-4
    .col-sm-6.offset-sm-1
      .table-responsive
        %table.table.table-striped
          %thead.thead-inverse
            %tr
              %th
                Name
              %th
                Enabled
              %th
                Accounts
          %tbody
            - current_user.budgets.each do |budget|
              %tr
                %td
                  = link_to budget.name, budget_path(budget)
                %td
                  - if budget.enabled?
                    %i.fa.fa-check
                %td
                  - if budget.enabled?
                    = budget.accounts.count


