= simple_form_for @account do |f|
  .form-group.row
    .col-sm-6.offset-sm-1
      = f.association :collection, :collection => @collections, label_method: :display_name, :prompt => 'Select account to link with'
      %button.btn.btn-primary{:type => 'submit'} Save
      = link_to 'Cancel', :back, {class: 'btn btn-outline-secondary'}

